/*--- superfish essential styles ---*/
.sf-menu, 
.sf-menu .gdlr-normal-menu ul{ margin: 0; padding: 0; list-style: none; }
.sf-menu .gdlr-normal-menu, 
.sf-menu .gdlr-normal-menu li{ position: relative; }
.sf-menu .gdlr-normal-menu ul{ position: absolute; display: none; top: 100%; left: 0; z-index: 99; }
/* .sf-menu .gdlr-normal-menu:hover > ul, */
.sf-menu .gdlr-normal-menu li:hover > ul,
.sf-menu .gdlr-normal-menu.sfHover > ul,
.sf-menu .gdlr-normal-menu li.sfHover > ul { display: block; }
.sf-menu .gdlr-normal-menu a { display: block; position: relative; }
.sf-menu .gdlr-normal-menu ul ul { top: 1px; left: 100%; margin-left: 1px; }

/*--- megafish essential styles ---*/
.sf-menu > .gdlr-mega-menu .sf-mega { position: absolute; display: none; right: 0; z-index: 99; }
/* .sf-menu > .gdlr-mega-menu:hover > .sf-mega, */
.sf-menu > .gdlr-mega-menu li:hover > .sf-mega,
.sf-menu > .gdlr-mega-menu.sfHover > .sf-mega,
.sf-menu > .gdlr-mega-menu li.sfHover > .sf-mega { display: block; }
.sf-menu > .gdlr-mega-menu > a { display: block; position: relative; }

/*--- goodlayers skin top level---*/
.sf-menu{ float: left; }
.sf-menu > li{ float: left; }
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current-menu-ancestor > a{ }
.sf-menu > li > a{ font-size: 13px; padding: 10px 5px; margin-right: 16px; text-decoration: none; zoom: 1; /*- for IE7 -*/ }


/*- no submenu indicator on top level -*/
.sf-menu li a.sf-with-ul:after{ content: '\f107'; font-family: FontAwesome; position: absolute; 
	top: 12px; right: 0px; line-height: 20px; height: 20px; margin-top: -9px; }
.sf-menu > li > a.sf-with-ul{ padding-right: 17px; *padding-right: 10px; } 
.sf-menu i{ margin-right: 7px; }
.sf-menu li li i{ margin-right: 10px; }

/*--- goodlayers skin normal menu ---*/
.sf-menu > .gdlr-normal-menu ul { text-transform: none; letter-spacing: 0px; font-size: 12px; min-width: 190px; *width: 12em; /*- no auto width for IE7 -*/ }
.sf-menu > .gdlr-normal-menu li { white-space: nowrap; *white-space: normal; /*- for IE7 -*/ }
.sf-menu > .gdlr-normal-menu li a{ padding: 10px 15px; border-top-width: 1px; border-top-style: solid; zoom: 1; font-weight: 600; }
.sf-menu > .gdlr-normal-menu li:first-child > a{ border-top-width: 0px; }
.sf-menu > .gdlr-normal-menu li > a.sf-with-ul { padding-right: 30px; }
.sf-menu > .gdlr-normal-menu li > a.sf-with-ul:after { content: '\f105'; top: 50%; margin-top: -10px; 
	right: 10px; border-color: transparent; }
.sf-menu > .gdlr-normal-menu .sub-menu { border-top-width: 0px; border-top-style: solid; }

/*--- goodlayers skin mega menu ---*/	
.sf-menu > .gdlr-mega-menu .sf-mega { left: 0px; right: 0px; margin: 0px 15px;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.sf-menu > .gdlr-mega-menu .sf-mega{ border-top-width: 0px; border-top-style: solid; }
.sf-mega-section { float: left; }
.sf-mega-section .sf-mega-section-inner{ padding: 20px 25px 30px; border-left-width: 1px; border-left-style: solid; 
	border-top-width: 1px; border-top-style: solid; }
.sf-mega-section.first-column .sf-mega-section-inner{ border-left-width: 0px; }
.sf-mega-section[data-row="1"] .sf-mega-section-inner{ border-top-width: 0px; }
.sf-mega-section-inner > a{ text-transform: none; letter-spacing: 0px; font-size: 17px; display: block; margin-bottom: 13px; padding-left: 10px;
	margin-bottom: 15px; margin-top: 10px; font-weight: 600; }
.sf-mega-section-inner > ul{ text-transform: none; letter-spacing: 0px; list-style: none; margin: 0px; font-size: 12px; line-height: 1.5; font-weight: 600; }
.sf-mega-section-inner > ul > li > a{ padding: 7px 10px; display: block; }
.sf-mega-section-inner > ul > li{ margin-bottom: 0px; }

/*--- top menu ---*/
.gdlr-top-menu.sf-menu li a.sf-with-ul:after{ display: none; }
.gdlr-top-menu.sf-menu > li i{ margin-right: 9px; font-size: 14px; }
.gdlr-top-menu.sf-menu > li > a { padding: 8px 15px 8px 16px; margin-right: 0px; 
	line-height: 18px; border-style: solid; border-left-width: 1px; }
.gdlr-top-menu.sf-menu > li:last-child > a { border-right-width: 1px; }
.gdlr-top-menu.sf-menu > .gdlr-mega-menu .sf-mega { left: auto; right: auto; border-top: 0px; 	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.25); \-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	margin: 2px 0px 0px; padding: 20px 20px; white-space: nowrap; min-width: 120px;
	*white-space: normal; *min-width: 250px; /*- for IE7 -*/ }
.gdlr-top-menu.sf-menu > li .sub-menu-item{ line-height: 1; margin-top: 15px; }
.gdlr-top-menu.sf-menu > li .sub-menu-item:first-child{ margin-top: 0px; }