.site-content{
    max-width: none !important;
}

.wp-editor-container{
    border-left: solid 1px #cbcbcb;
    border-right: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
}

.label-commission, .label-booking{
    margin-left: 5px;
    
}

#em-tickets-form .ticket-price input {
    float: left !important;
}

.fullwidth{
    width: 100% !important;
}

.em-search-scope{
    display: inline-block !important;
}

.em-search-location{
    display: inline-block !important;
    float: right !important;
}
.em-search-category label, .em-search-location label{
    min-width: 70px !important;
}
.em-search-category{
    display: inline-block !important;
    margin-left: 30px !important;
}

.eventloading{
    display: none;
    float: left;
    margin-top: 20px;
}

.eventloading img{
    width: 50px !important;
    height: 50px !important;
}

#event-form .submit {
    display: inline-block;
    float: left;
}

.loadingspan{
    float: right;
    margin-top: 15px;
}

.events-table tr:hover{
    background-color: #ecf5ff;
    cursor: pointer;
}

.really_simple_share_facebook_share a{
    text-decoration: none;
}

.really_simple_share_clearfix{
    clear: none;
}

.really_simple_share{
    clear: none;
    float: left;
}

#event_detailbox table tr td{
    text-align: left !important;
}

.em-location-data table tr td{
    text-align: left !important;
}

table.em-location-data input{
    width: 150px !important;
}
table.em-location-data select{
    width: 160px !important;
} 

#location_content ul{
    margin-left: 0px !important;
}

#location_content ul li, #location_content h3{
    padding-left: 0px !important;
}

.top-navigation-wrapper a:hover{
    color: #E5E5E5 !important;
}

.input-field-booking_comment{
    display: none !important;
}

.em-booking-form-details .em-tickets-spaces {
    display: none !important;
}

.em-ticket-form-main > div label, .em-ticket-form-advanced > div label{
    text-align: left !important;
}

.em-ticket-form-main > div input[type='text'], .em-ticket-form-advanced > div input[type='text']{
    width: 50% !important;
}

#em-tickets-form .ticket-name input, #em-tickets-form .ticket-description textarea {
    float: left;
}

#em-tickets-form .ticket-spaces input, #em-tickets-form .ticket-price input {
    float: left !important;
}

.em-ticket-form .ticket-options{
    margin-top: 70px !important;
}

#end-time, #start-time {
    float: left;
    margin-left: 110px;
    margin-top: 5px;
}

.em-date-start, .em-date-end{
    float: left;
}

#em-tickets-form .ticket-required input, #em-tickets-form .ticket-roles input{
    float: left !important;
}

.em-ticket-form-advanced select{
    float: left;
    width: 50%;
}

.em-hide{
    display: none !important;
}

.em-field-error{
    border: 1px solid red !important;
}
.donationlabel{
    font-weight: normal !important;
}
#donationname{
    display: none;
}
.em-booking-form label {
    /*display: block;
    float: none;
    width: auto;*/
    width: 150px;
}
.em-booking-gateway-form-label{
    margin-top: 5px;
    margin-right: 10px;
}
.em-divider{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: #EEEEEE;
    height: 1px;
}
.em-booking-gateway-form img{
    opacity: 1 !important;
}
.formrunner ul li{
    overflow: hidden;
}