.site-content{
    max-width: none !important;
}

.wp-editor-container{
    border-left: solid 1px #cbcbcb;
    border-right: solid 1px #cbcbcb;
    border-bottom: solid 1px #cbcbcb;
}

.label-commission{
    margin-left: 5px;
    
}

#em-tickets-form .ticket-price input {
    float: left !important;
}

.fullwidth{
    width: 100% !important;
}

.em-search-scope{
    display: inline-block !important;
}

.em-search-location{
    display: inline-block !important;
    float: right !important;
}
.em-search-category label, .em-search-location label{
    min-width: 70px !important;
}
.em-search-category{
    display: inline-block !important;
    margin-left: 30px !important;
}

.eventloading{
    display: none;
    float: left;
}

#event-form .submit {
    display: inline-block;
    float: left;
}

.loadingspan{
    float: right;
    margin-top: 15px;
}

.events-table tr:hover{
    background-color: #ecf5ff;
    cursor: pointer;
}

.really_simple_share_facebook_share a{
    text-decoration: none;
}

.really_simple_share_clearfix{
    clear: none;
}

.really_simple_share{
    clear: none;
    float: left;
}